$color-bg-blk: #000000;
$color-bg-grey: #444444;
$color-bg-grey2: #1d1d1f;
$color-bg-grey3: #575757;
$color-txt-1: #f5f5f7;
$color-txt-2: #757576;
$color-link: #2675c1;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-17: 17px;
$font-size-21: 21px;

$line-height-16: 16px;
$line-height-18: 18px;
$line-height-24: 24px;
$line-height-44: 44px;

$font-weight-400: 400;
$font-weight-600: 600;
